#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_BUILD_OPTIONS=noautodbgsym

SHELL := sh -e
VERSION ?= 6.4

%:
	dh ${@}

override_dh_auto_clean:
	rm -f config.h
	$(MAKE) clean

dwm.c:
	curl -s -L -O https://dl.suckless.org/dwm/dwm-$(VERSION).tar.gz
	tar xzf dwm-$(VERSION).tar.gz --strip-components=1
	rm dwm-$(VERSION).tar.gz

.pc: dwm.c
	QUILT_PATCHES=debian/patches quilt push -a

override_dh_auto_build: .pc dwm.c
	$(MAKE) PREFIX=/usr

override_dh_auto_install: .pc
	$(MAKE) install DESTDIR=$(CURDIR)/debian/dwm PREFIX=/usr
