#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

SHELL := sh -e
VERSION ?= 6.4

%:
	dh ${@}

override_dh_auto_clean:
	rm -f config.h
	$(MAKE) clean

dwm.c:
	[ -d "$(CURDIR)/dwm" ] || \
    git clone --depth 1 --branch $(VERSION) git://git.suckless.org/dwm
	mv dwm/* .
	rm -rf dwm

override_dh_auto_build: dwm.c
	QUILT_PATCHES=debian/patches quilt push -a
	$(MAKE) PREFIX=/usr

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/dwm PREFIX=/usr
#	mkdir -p debian/findmydeviceserver/usr/bin
#	mv debian/dwm/usr/bin/dwm debian/dwm/usr/bin/dwm.default
